<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"href="style3.css">
</head>
<body>
    <div class="event">Events</div>
    <div class="up">UpComming Events....</div>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Event Name</th>
                <th>Type of Event</th>
                <th>Department</th>
                <th>College Name</th>
                <th>Register</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>25-10-2024</td>
                <td>Two day seminar</td>
                <td>Technical</td>
                <td>Information Technology</td>
                <td>Sathyabama Institute of Science and Technology - chennai</td>
                <td><a href="https://www.knowafest.com/explore/events/2024/10/0303-naviologi-24-aset-college-science-technology-chennai-campus-management-fest" onclick="setEventDetails('Code Hackathon','Karpagam College of Engineerin', 'Information Technology', 'Technical')">Register</a></td>

            </tr>
            <tr>
                <td>25-10-2024</td>
                <td>Technical, Cultural, Management, Symposium</td>
                <td>Technical</td>
                <td>Science and Humanity</td>
                <td>ASET College of Science and Technology Chennai Campus</td>
                <td><a href="https://www.knowafest.com/explore/events/2024/10/0303-naviologi-24-aset-college-science-technology-chennai-campus-management-fest" onclick="setEventDetails('Cultural Fest', 'Bannari Amman College Of engineering','Science and Humanity', 'Non-Technical')">Register</a></td>
            </tr>
            <tr>
                <td>25-10-2024</td>
                <td>Technical, Cultural, Symposium, Online, Summit, Guest Lectures</td>
                <td>Technical and non Technical</td>
                <td>Artificial Intelligence and data science</td>
                <td>Hindusthan College of Engineering and Technology</td>
                <td><a href="https://www.knowafest.com/explore/events/2024/10/0315-korshan-24-hindusthan-college-engineering-technology-agricultural-fest-coimbatore" onclick="setEventDetails('AI Workshop', 'Shri krishna College of Engineering','Artificial Intelligence and data science', 'Technical')">Register</a></td>
            </tr>
            <tr>
                <td>25-10-2024</td>
                <td>Workshop, Symposium</td>
                <td>Technical</td>
                <td>Science and Humanity</td>
                <td>St Joseph College of Engineering</td>
                <td><a href="https://www.knowafest.com/explore/events/2024/10/0817-mechmaestro-24-st-joseph-college-engineering-national-level-technical-symposium-chennai" onclick="setEventDetails('Sports', 'Kumaraguru college of Engineering','Science and Humanity', 'Non-Technical')">Register</a></td>
            </tr>
            <tr>
                <td>26-10-2024</td>
                <td>Project Expo 2024</td>
                <td>Technical</td>
                <td>Electrical and Electronic Engineering</td>
                <td>Sri Ramakrishna Institute of Technology</td>
                <td><a href="https://www.knowafest.com/explore/events/2024/10/0311-project-expo-2024-sri-ramakrishna-institute-technology-exhibition-coimbatore" onclick="setEventDetails('Paper presentation', 'PSG college of Engineering','Electrical and Electronic Engineering', 'Technical')">Register</a></td>
            </tr>
            <tr>
                <td>26-10-2024</td>
                <td>Workshop </td>
                <td>Technical</td>
                <td>Science and Humanity</td>
                <td>Kongunadu College of Engineering and Technology</td>
                <td><a href="https://www.knowafest.com/explore/events/2024/10/0502-one-day-workshop-additive-manufacturing-2024-kongunadu-college-engineering-technology-tiruchirappalli" onclick="setEventDetails('3D painting , E- sports , solo singing', 'SNS College of Engineering','Science and Humanity', 'Non-Technical')">Register</a></td>
            </tr>
            <tr>
                <td>26-10-2024</td>
                <td>Technical, Symposium</td>
                <td>Technical</td>
                <td>Computer Science and Engineering</td>
                <td>SRM Valliammai Engineering College</td>
                <td><a href="https://www.knowafest.com/explore/events/2024/10/1618-cyborgs-2024-srm-valliammai-engineering-college-technical-symposium-kattankulathur" onclick="setEventDetails('24 hour Hackathon', 'Easa college of Engineering','Computer Science and Engineering', 'Technical')">Register</a></td>
            </tr>
            <tr>
                <td>27-10-2024</td>
                <td>Conference</td>
                <td>Technical</td>
                <td>Information Technology</td>
                <td>Marthandam College of Engineering and Technology</td>
                <td><a href="https://www.knowafest.com/explore/events/2024/09/1504-international-conference-engineering-technology-icet-2024-marthandam-college-kanyakumari" onclick="setEventDetails('Code whiz', 'Karpagam College of Engineering','Information Technology', 'Technical')">Register</a></td>
            </tr>
            <tr>
                <td>28-10-2024</td>
                <td>Technical, Workshop, Symposium</td>
                <td>Technical</td>
                <td>Computer Science and Engineering</td>
                <td>AAA College of Engineering and Technology</td>
                <td><a href="https://www.knowafest.com/explore/events/2024/10/1403-techfusion-2k24-aaa-college-engineering-technology-technical-symposium-virudhunagar" onclick="setEventDetails('Workshop on IOT', 'Ramakrishna college of Engineering','Computer Science and Engineering', 'Technical')">Register</a></td>
            </tr>
            <tr>
                <td>4-11-2024</td>
                <td>Workshop</td>
                <td>Technical</td>
                <td>Information Technology</td>
                <td>Sathyabama Institute of Science and Technology</td>
                <td><a href="https://www.knowafest.com/explore/events/2024/10/0801-a-workshop-microbiology-molecular-biology-green-synthesis-nanoparticles-advanced-characterization-techniques-2024-sathyabama-institute-science-technology-chennai" onclick="setEventDetails('Paper Presentation', 'Bannari Amman College Of engineering','Information Technology', 'Technical')">Register</a></td>
            </tr>
        </tbody>
    </table>
    <button class="back" onclick="babtn()">Back</button>
    <script>
         function babtn()
    {
        window.open("/student");
    }

    function setEventDetails(eventName, college, department, typeOfEvent) {
        localStorage.setItem('eventName', eventName);
        localStorage.setItem('college', college);
        localStorage.setItem('department', department);
        localStorage.setItem('typeOfEvent', typeOfEvent);
    }

    </script>
</body>
</html>