<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="center">
        <h1>LOGIN</h1>
        <form action="/login"  method="POST">
            <div class="text">
                <input type="email" name="email" id="email" required>
                <span></span>
                <label>email</label>
            </div>
            <div class="text">
                <input type="password" name="password" id="password" required>
                <span></span>
                <label>password</label>
            </div>
            <div class="pass">Forget Password?</div>
			<input type="submit" value="login" class="submit-btn">
            <div class="signup">
                Not a member?? <a href="/signup">Sign Up</a>
            </div>
        </form>
    </div>
   
  
</body>
</html>