<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"href="style1.css">
</head>
<body>
    <div class="stud">
    <a href="/online-course"><div class="online-course">
        <h1>Online courses</h1>
    </div></a>
   <a href="/job"> <div class="jobs">
        <h1>Jobs</h1>
    </div></a>
    <a href="/event"><div class="events">
        <h1>Events</h1>
    </div></a>
</div>
<div class="button-group">
       <a href="/login" class="btn-back">Back</a>
       <a href="/login" class="btn-log">Logout</a>
       <a href="/Home" class="btn-home">Home</a>
   </div>
 
        <img class="online" src="online.png" alt="">
        <img class="carier" src="carier.jpg" alt="">
<script>
    function babtn()
    {
        window.open("login1.html");
    }
    function babtn1()
    {
        window.open("login.html");
    }
    function babtn2()
    {
        window.open("login.html");
    }
</script>
</body>
</html>